.proceso{
    background-image: url(../static/Img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 56px;
    position: relative;
    overflow: hidden;
}